*{
    padding:0;
    margin: 0;
    border: none;
}

body{

    text-align: center;
    justify-content: center;
    position: relative;
    height: 300px;
    
}

h1{
    text-align: center;
    margin: 50px;
    color: brown;

}

a{
    color: brown;
}

img{
    text-align: center;
    position: absolute;
    height: 130%;
    width: auto;
    margin: 20px;
}