body {
    background: linear-gradient(rgba(90, 51, 14, 0.438), rgba(0, 0, 0, 0.5) ), url(cat-cafe-pet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin:0px;
    height: 100%;
}

header{

    background-color: rgba(83, 42, 23, 0.979);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px; 
    position:relative;
    width: 100%;
    display: flex;
       
}

.header1{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.container1{

    justify-content: center;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgba(83, 42, 23, 0.932);
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 280px;
    margin-right: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    width: auto;
    
}

.titulo{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.campo{

    text-align: left;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    margin-top: -15px;
    
}

.row{

    text-align: center;
    width: 50%;
    
}

.btngroup{
    width: 100px;
    display: inline-block;
}

#submit, #reset {

    margin-top: 35px;
    margin-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 20px;
    border-radius: 80px;
    color: brown;
    background-color: #fff(245, 245, 245, 0.712);
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    
}

#submit:hover, #reset:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

#spacement{
    margin-top: 20px;
}

#pedido {

    justify-content: center;
    text-align: left;
    padding: 9px;
    height: 60px;
    border-radius: 10px;
    margin-top: -5px;
    word-wrap: break-word;
    word-break: break-all;
    font-family:Arial, Helvetica, sans-serif;

}

.radio {
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
 
}

#alerta{

    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;

}

.close{

    border-radius: 30px;
    border: none;
background-color: rgb(223, 117, 117);
}

#hora-cons{
    border-radius: 20px;
    padding: 10px;
}